*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
form{
    margin: 50px 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
form fieldset{
    border-radius: 10px;
    padding: 10px;
}
form legend{
    text-indent: 0px;
}
form .name{
    font-size: 15px;
    padding: 5px;
}